#header {
    background-color: #D3D3D3;
    overflow: hidden;
    margin: 0;
}

#rec_title {
    font-weight: bold;
}

#season_blurb {
    padding-left: .5em;
}

#season_header {
    padding-bottom: 1em;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #000732;
    color: #FFFFFF;
}

.radio_btn {
    margin-right: 1em;
}

.season_radio {
    display: block;
    padding-bottom: .5em;
}

button {
    white-space: normal;
}

div {
    text-align: center;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.1em;
}

label {
    margin-bottom: 1em;
    display: block;
}

a:link, a:visited {
    color: #00CCED;
}

a:hover {
    color: #FF7200;
    text-decoration: none;
}

#footer {
    margin-top: 5em;
}

.button_link {
    text-decoration: none;
}

.retr_blurb {
    color: #FF7200;
}

.recs_message {
    display: none;
}

.note {
    font-weight: bold;
    color: #87878A;
}

.optional, .required {
    color: #00CCED;
}

.optional {
    padding-top: 2em;
}

.required {
    padding-top: 1em;
}

.test_module {
    margin-top: 2.5em;
}

.rec_image {
    width: 10em;
    height: 10em;
    border-style: solid;
    border-color: #FF7200;
    margin-bottom: 1.2em;
}

.submit_button {
    border-style: solid;
    font-size: 1em;
    width: 8em;
    padding: 2em;
    border-color: #FFFFFF;
    color: #FFFFFF;
    background-color: #00CCED;
    font-weight: bold;
    cursor: pointer;
    margin-left: .5em;
    margin-top: 2em;
}

.submit_button:hover {
    border-color: #00CCED;
    color: #00CCED;
    background-color: #FFFFFF;
}

@media only screen and (max-width: 768px) {
    #main {
        float: none;
        margin: auto;
        padding-bottom: 2em;
    }

    #options {
        margin-top: 1.5em;
    }

    #intro, #emblem {
        display: none;
    }
    
    .submit_button {
        display: block;
        margin: auto;
        width: 50%;
        margin-bottom: .5em;
        margin-top: 2em;
    }

    .rec_image {
        width: 10em;
        height: 10em;
    }
}

@media only screen and (max-width: 300px) {
    h1 {
        font-size: 1.2em;
    }

    h2 {
        font-size: 1.1em;
    }

    h3 {
        font-size: 1em;
    }

    input, select {
        width: 10em;
    }
    
    #main {
        float: none;
        margin: auto;
        padding-bottom: 2em;
    }

    #options {
        margin-top: 1.5em;
    }

    #intro, #emblem {
        display: none;
    }

    #logo {
        height: 1.5em;
        width: auto;
    }
    
    .submit_button {
        display: block;
        margin: auto;
        width: 100%;
        margin-bottom: .5em;
        margin-top: 2em;
    }

    .rec_image {
        width: 5em;
        height: 5em;
    }
}